### TOPUP MAMA

#### IMPORTING MODULES

In [1]:
import numpy as np
import pandas as pd
import sklearn

import matplotlib
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import seaborn as sns
from pandas_profiling import ProfileReport
import tkinter
matplotlib.use('TkAgg')

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler


from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import train_test_split

In [2]:
conda install -c conda-forge pandas-profiling

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\MUKIRI\Anaconda3

  added / updated specs:
    - pandas-profiling


The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    pkgs/main::ca-certificates-2021.10.26~ --> conda-forge::ca-certificates-2021.10.8-h5b45459_0
  certifi            pkgs/main::certifi-2021.10.8-py38haa9~ --> conda-forge::certifi-2021.10.8-py38haa244fe_1
  conda              pkgs/main::conda-4.11.0-py38haa95532_0 --> conda-forge::conda-4.11.0-py38haa244fe_0
  openssl              pkgs/main::openssl-1.1.1m-h2bbff1b_0 --> conda-forge::openssl-1.1.1l-h8ffe710_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [3]:
conda install catboost

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\MUKIRI\Anaconda3

  added / updated specs:
    - catboost


The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2021.10.~ --> pkgs/main::ca-certificates-2021.10.26-haa95532_4
  certifi            conda-forge::certifi-2021.10.8-py38ha~ --> pkgs/main::certifi-2021.10.8-py38haa95532_2
  openssl            conda-forge::openssl-1.1.1l-h8ffe710_0 --> pkgs/main::openssl-1.1.1m-h2bbff1b_0

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.11.0-py38haa244f~ --> pkgs/main::conda-4.11.0-py38haa95532_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Rolling back transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(143): Could not remove or rename C:\Users\MUKIRI\Anaconda3\Library\bin\libssl-1_1-x64.dll.c~.  Please remove this file manually (you may need to reboot to free file handles)
ERROR conda.core.link:_execute(699): An error occurred while installing package 'defaults::openssl-1.1.1m-h2bbff1b_0'.

[Errno 13] Permission denied: 'C:\\Users\\MUKIRI\\Anaconda3\\Library\\bin\\libcrypto-1_1-x64.dll'
()

#### LOADING DATA

In [4]:
data = pd.read_csv('df.csv')

data.head()

C:\Users\MUKIRI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (2,4,5,9,11,12,13,18,19,23,24,25,26,28,29,30,32,36,37,38,40,41,42,44,49,50,51,54,55,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Customer_ID,Last_Used_Platform,Is_Blocked,Created_At,Language,Outstanding_Amount,Loyalty_Points,Number_of_Employees,Upload_restuarant_location,...,Delivery_Charges,Discount_y,Sub_Total_y,Payment_Type,Task_Category,Earning,Pricing,Unnamed: 34,Unnamed: 35,Country
0,0,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
1,1,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
2,2,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
3,3,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
4,4,3365770.0,WEB,0.0,2021-04-21T10:23:50.000Z,en,0.0,55.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya

### EDA

In [5]:
data.head()

,Unnamed: 0,Customer_ID,Last_Used_Platform,Is_Blocked,Created_At,Language,Outstanding_Amount,Loyalty_Points,Number_of_Employees,Upload_restuarant_location,...,Delivery_Charges,Discount_y,Sub_Total_y,Payment_Type,Task_Category,Earning,Pricing,Unnamed: 34,Unnamed: 35,Country
0,0,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
1,1,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
2,2,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
3,3,3365019.0,WEB,0.0,2021-04-21T07:15:56.000Z,en,0.0,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
4,4,3365770.0,WEB,0.0,2021-04-21T10:23:50.000Z,en,0.0,55.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66673 entries, 0 to 66672
Data columns (total 92 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  66673 non-null  int64
 1   Customer_ID                 13671 non-null  float64
 2   Last_Used_Platform          13671 non-null  object
 3   Is_Blocked                  13671 non-null  float64
 4   Created_At                  13671 non-null  object
 5   Language                    13671 non-null  object
 6   Outstanding_Amount          13671 non-null  float64
 7   Loyalty_Points              13671 non-null  float64
 8   Number_of_Employees         9617 non-null   float64
 9   Upload_restuarant_location  6 non-null      object
 10  Order_ID                    66673 non-null  int64
 11  Order_Status                13671 non-null  object
 12  Category_Name               13665 non-null  object
 13  SKU                         13668 non-null  object
 14  Customization_Group         0 non-null      float64
 15  Customization_Option        0 non-null      float64
 16  Quantity                    13671 non-null  float64
 17  Unit_Price                  13671 non-null  float64
 18  Cost_Price                  13671 non-null  object
 19  Total_Cost_Price            13671 non-null  object
 20  Total_Price                 13671 non-null  float64
 21  Order_Total                 13671 non-null  float64
 22  Sub_Total_x                 13671 non-null  float64
 23  Tax                         13671 non-null  object
 24  Delivery_Charge             13671 non-null  object
 25  Tip_x                       13671 non-null  object
 26  Discount_x                  13671 non-null  object
 27  Remaining_Balance           13671 non-null  float64
 28  Payment_Method              13671 non-null  object
 29  Additional_Charge           13671 non-null  object
 30  Taxable_Amount              13671 non-null  object
 31  Transaction_ID              13671 non-null  float64
 32  Currency_Symbol             13671 non-null  object
 33  Transaction_Status          0 non-null      float64
 34  Promo_Code                  0 non-null      float64
 35  Merchant_ID                 13671 non-null  float64
 36  Store_Name                  13671 non-null  object
 37  Pickup_Address              13671 non-null  object
 38  Description                 5169 non-null   object
 39  Distance(m)_x               13671 non-null  float64
 40  Order_Time                  13671 non-null  object
 41  Pickup_Time                 13671 non-null  object
 42  Delivery_Time               13671 non-null  object
 43  Ratings                     32 non-null     float64
 44  Reviews                     13 non-null     object
 45  Merchant_Earning            0 non-null      float64
 46  Commission_Amount           0 non-null      float64
 47  Commission_Payout_Status    0 non-null      float64
 48  Order_Preparation_Time      13671 non-null  float64
 49  Debt_Amount                 12242 non-null  object
 50  Redeemed_Loyalty_Points     13671 non-null  object
 51  Consumed_Loyalty_Points     13671 non-null  object
 52  Cancellation_Reason         0 non-null      float64
 53  Flat_Discount               13671 non-null  float64
 54  Checkout_Template_Name      13671 non-null  object
 55  Checkout_Template_Value     13671 non-null  object
 56  Task_ID                     53002 non-null  float64
 57  Relationship                53002 non-null  float64
 58  Team_Name                   53002 non-null  object
 59  Task_Type                   53002 non-null  object
 60  Notes                       13880 non-null  object
 61  Agent_ID                    53002 non-null  object
 62  Agent_Name                  44983 non-null  object
 63  Distance(m)_y               53002 non-null  object
 64  Total_Time_Taken(min)       53002 non-null  object
 65  Pick_up_From                53002 non-null  object
 66  Start_Before                53002 non-null  object
 67  Complete_Before             53002 non-null  object
 68  Completion_Time             53002 non-null  object
 69  Task_Status                 53002 non-null  object
 70  Ref_Images                  53002 non-null  object
 71  Rating                      53002 non-null  object
 72  Review                      52977 non-null  object
 73  Latitude                    53002 non-null  object
 74  Longitude                   53002 non-null  float64
 75  Tags                        110 non-null    object
 76  Promo_Applied               52893 non-null  object
 77  Custom_Template_ID          53002 non-null  object
 78  Task_Details_QTY            53002 non-null  object
 79  Task_Details_AMOUNT         53002 non-null  object
 80  Special_Instructions        53002 non-null  object
 81  Tip_y                       53002 non-null  object
 82  Delivery_Charges            53002 non-null  object
 83  Discount_y                  53002 non-null  object
 84  Sub_Total_y                 53002 non-null  object
 85  Payment_Type                53002 non-null  object
 86  Task_Category               53002 non-null  object
 87  Earning                     53002 non-null  object
 88  Pricing                     53002 non-null  object
 89  Unnamed: 34                 109 non-null    object
 90  Unnamed: 35                 39 non-null     object
 91  Country                     66673 non-null  object
dtypes: float64(28), int64(2), object(62)
memory usage: 46.8+ MB

In [7]:
data.describe()

,Unnamed: 0,Customer_ID,Is_Blocked,Outstanding_Amount,Loyalty_Points,Number_of_Employees,Order_ID,Customization_Group,Customization_Option,Quantity,...,Ratings,Merchant_Earning,Commission_Amount,Commission_Payout_Status,Order_Preparation_Time,Cancellation_Reason,Flat_Discount,Task_ID,Relationship,Longitude
count,66673.000000,1.367100e+04,13671.0,13671.0,13671.000000,9.617000e+03,6.667300e+04,0.0,0.0,13671.000000,...,32.0,0.0,0.0,0.0,13671.0,0.0,13671.0,5.300200e+04,5.300200e+04,53002.000000
mean,25226.843370,4.313161e+06,0.0,0.0,787.236486,6.929083e+07,3.122650e+06,NaN,NaN,2.660742,...,5.0,NaN,NaN,NaN,0.0,NaN,0.0,3.273199e+08,3.273199e+29,31.700802
std,17455.282656,3.756198e+05,0.0,0.0,1343.196071,7.625497e+08,3.931998e+06,NaN,NaN,4.341853,...,0.0,NaN,NaN,NaN,0.0,NaN,0.0,2.541199e+07,2.541199e+28,12.154744
min,0.000000,3.365019e+06,0.0,0.0,0.000000,1.000000e+00,1.126251e+06,NaN,NaN,1.000000,...,5.0,NaN,NaN,NaN,0.0,NaN,0.0,2.186499e+08,2.186499e+29,-122.401468
25%,8334.000000,4.052828e+06,0.0,0.0,115.000000,2.000000e+00,1.126521e+06,NaN,NaN,1.000000,...,5.0,NaN,NaN,NaN,0.0,NaN,0.0,3.062582e+08,3.062582e+29,36.782792
50%,23888.000000,4.276916e+06,0.0,0.0,309.000000,3.000000e+00,1.126521e+06,NaN,NaN,1.000000,...,5.0,NaN,NaN,NaN,0.0,NaN,0.0,3.253174e+08,3.253174e+29,36.828960
75%,40556.000000,4.594878e+06,0.0,0.0,893.000000,6.000000e+00,1.126521e+06,NaN,NaN,2.000000,...,5.0,NaN,NaN,NaN,0.0,NaN,0.0,3.517854e+08,3.517854e+29,36.897591
max,57224.000000,5.189011e+06,0.0,0.0,23307.000000,9.159746e+09,1.126502e+07,NaN,NaN,108.000000,...,5.0,NaN,NaN,NaN,0.0,NaN,0.0,3.681104e+08,3.681104e+29,77.209021

In [8]:
#Checking for Missing Values
data.isnull().sum()

Unnamed: 0                0
Customer_ID           53002
Last_Used_Platform    53002
Is_Blocked            53002
Created_At            53002
                      ...
Earning               13671
Pricing               13671
Unnamed: 34           66564
Unnamed: 35           66634
Country                   0
Length: 92, dtype: int64

In [9]:
data.dtypes

Unnamed: 0              int64
Customer_ID           float64
Last_Used_Platform     object
Is_Blocked            float64
Created_At             object
                       ...
Earning                object
Pricing                object
Unnamed: 34            object
Unnamed: 35            object
Country                object
Length: 92, dtype: object

### DATA CLEANING

In [10]:
#Missing values
#checking for missing values in the dataset
data.apply(lambda x:sum(x.isnull()), axis=0)

Unnamed: 0                0
Customer_ID           53002
Last_Used_Platform    53002
Is_Blocked            53002
Created_At            53002
                      ...
Earning               13671
Pricing               13671
Unnamed: 34           66564
Unnamed: 35           66634
Country                   0
Length: 92, dtype: int64

In [11]:
#The percentage of missing values in the columns
missing = data.isnull().sum()/len(data)
missing = missing[missing > 0]
missing.sort_values(inplace=True)

missing

Task_Details_QTY        0.205046
Discount_y              0.205046
Delivery_Charges        0.205046
Tip_y                   0.205046
Special_Instructions    0.205046
                          ...
Transaction_Status      1.000000
Customization_Option    1.000000
Customization_Group     1.000000
Cancellation_Reason     1.000000
Commission_Amount       1.000000
Length: 89, dtype: float64

In [12]:
#Deleting empty columns
del data['Promo_Code']
del data['Customization_Group']
del data["Customization_Option"]
del data['Transaction_Status']
del data['Merchant_Earning']
del data['Commission_Amount']
del data['Commission_Payout_Status']
del data['Upload_restuarant_location']
del data['Cancellation_Reason']
del data['Tags']

In [13]:
del data['Unnamed: 0']
del data['Unnamed: 34']
del data['Unnamed: 35']

In [14]:
#Deleting unnecessary columns 
del data['Description']
del data['Rating'] # too few
del data['Review'] # too few
del data['Ratings']
del data['Reviews']
del data['Notes']
del data['Agent_ID']
del data['Agent_Name']
del data['Team_Name']
del data['Task_Type']
del data['Relationship']
del data['Task_ID']
del data['Promo_Applied']
del data['Created_At']
del data['Special_Instructions']
del data['Task_Details_AMOUNT']
del data['Task_Details_QTY']
del data['Ref_Images']
del data['Custom_Template_ID']
del data['Currency_Symbol']
del data['Store_Name']
del data['SKU']
del data['Merchant_ID']
del data['Number_of_Employees']
del data['Transaction_ID']
del data['Order_Preparation_Time']
del data['Complete_Before']
del data['Completion_Time']
del data['Longitude']
del data['Latitude']
del data['Checkout_Template_Name']
del data['Checkout_Template_Value']
del data['Start_Before']
del data['Delivery_Time']
del data['Pickup_Time']
del data['Order_Time']

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66673 entries, 0 to 66672
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer_ID              13671 non-null  float64
 1   Last_Used_Platform       13671 non-null  object
 2   Is_Blocked               13671 non-null  float64
 3   Language                 13671 non-null  object
 4   Outstanding_Amount       13671 non-null  float64
 5   Loyalty_Points           13671 non-null  float64
 6   Order_ID                 66673 non-null  int64
 7   Order_Status             13671 non-null  object
 8   Category_Name            13665 non-null  object
 9   Quantity                 13671 non-null  float64
 10  Unit_Price               13671 non-null  float64
 11  Cost_Price               13671 non-null  object
 12  Total_Cost_Price         13671 non-null  object
 13  Total_Price              13671 non-null  float64
 14  Order_Total              13671 non-null  float64
 15  Sub_Total_x              13671 non-null  float64
 16  Tax                      13671 non-null  object
 17  Delivery_Charge          13671 non-null  object
 18  Tip_x                    13671 non-null  object
 19  Discount_x               13671 non-null  object
 20  Remaining_Balance        13671 non-null  float64
 21  Payment_Method           13671 non-null  object
 22  Additional_Charge        13671 non-null  object
 23  Taxable_Amount           13671 non-null  object
 24  Pickup_Address           13671 non-null  object
 25  Distance(m)_x            13671 non-null  float64
 26  Debt_Amount              12242 non-null  object
 27  Redeemed_Loyalty_Points  13671 non-null  object
 28  Consumed_Loyalty_Points  13671 non-null  object
 29  Flat_Discount            13671 non-null  float64
 30  Distance(m)_y            53002 non-null  object
 31  Total_Time_Taken(min)    53002 non-null  object
 32  Pick_up_From             53002 non-null  object
 33  Task_Status              53002 non-null  object
 34  Tip_y                    53002 non-null  object
 35  Delivery_Charges         53002 non-null  object
 36  Discount_y               53002 non-null  object
 37  Sub_Total_y              53002 non-null  object
 38  Payment_Type             53002 non-null  object
 39  Task_Category            53002 non-null  object
 40  Earning                  53002 non-null  object
 41  Pricing                  53002 non-null  object
 42  Country                  66673 non-null  object
dtypes: float64(12), int64(1), object(30)
memory usage: 21.9+ MB

In [16]:
data.head()

,Customer_ID,Last_Used_Platform,Is_Blocked,Language,Outstanding_Amount,Loyalty_Points,Order_ID,Order_Status,Category_Name,Quantity,...,Task_Status,Tip_y,Delivery_Charges,Discount_y,Sub_Total_y,Payment_Type,Task_Category,Earning,Pricing,Country
0,3365019.0,WEB,0.0,en,0.0,68.0,11155410,COMPLETED,Cooking Fat & Oil,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
1,3365019.0,WEB,0.0,en,0.0,68.0,11155410,COMPLETED,Flour & Sugar,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
2,3365019.0,WEB,0.0,en,0.0,68.0,11155410,COMPLETED,Flour & Sugar,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
3,3365019.0,WEB,0.0,en,0.0,68.0,11138864,COMPLETED,Cooking Fat & Oil,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya
4,3365770.0,WEB,0.0,en,0.0,55.0,11253217,COMPLETED,Cooking Fat & Oil,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kenya

In [17]:
data.isnull().sum()

Customer_ID                53002
Last_Used_Platform         53002
Is_Blocked                 53002
Language                   53002
Outstanding_Amount         53002
Loyalty_Points             53002
Order_ID                       0
Order_Status               53002
Category_Name              53008
Quantity                   53002
Unit_Price                 53002
Cost_Price                 53002
Total_Cost_Price           53002
Total_Price                53002
Order_Total                53002
Sub_Total_x                53002
Tax                        53002
Delivery_Charge            53002
Tip_x                      53002
Discount_x                 53002
Remaining_Balance          53002
Payment_Method             53002
Additional_Charge          53002
Taxable_Amount             53002
Pickup_Address             53002
Distance(m)_x              53002
Debt_Amount                54431
Redeemed_Loyalty_Points    53002
Consumed_Loyalty_Points    53002
Flat_Discount              53002
Distance(m)_y              13671
Total_Time_Taken(min)      13671
Pick_up_From               13671
Task_Status                13671
Tip_y                      13671
Delivery_Charges           13671
Discount_y                 13671
Sub_Total_y                13671
Payment_Type               13671
Task_Category              13671
Earning                    13671
Pricing                    13671
Country                        0
dtype: int64

In [18]:
#The percentage of missing values in the columns
missing = data.isnull().sum()/len(data)
missing = missing[missing > 0]
missing.sort_values(inplace=True)

missing

Pricing                    0.205046
Distance(m)_y              0.205046
Pick_up_From               0.205046
Task_Status                0.205046
Tip_y                      0.205046
Total_Time_Taken(min)      0.205046
Discount_y                 0.205046
Sub_Total_y                0.205046
Payment_Type               0.205046
Task_Category              0.205046
Delivery_Charges           0.205046
Earning                    0.205046
Additional_Charge          0.794954
Flat_Discount              0.794954
Consumed_Loyalty_Points    0.794954
Redeemed_Loyalty_Points    0.794954
Distance(m)_x              0.794954
Pickup_Address             0.794954
Taxable_Amount             0.794954
Customer_ID                0.794954
Discount_x                 0.794954
Last_Used_Platform         0.794954
Is_Blocked                 0.794954
Language                   0.794954
Outstanding_Amount         0.794954
Loyalty_Points             0.794954
Order_Status               0.794954
Quantity                   0.794954
Remaining_Balance          0.794954
Unit_Price                 0.794954
Total_Cost_Price           0.794954
Total_Price                0.794954
Order_Total                0.794954
Sub_Total_x                0.794954
Tax                        0.794954
Delivery_Charge            0.794954
Tip_x                      0.794954
Cost_Price                 0.794954
Payment_Method             0.794954
Category_Name              0.795044
Debt_Amount                0.816387
dtype: float64

In [19]:
#data = data.astype({"Pricing": int, "Distance(m)_y": int}, errors='coerce')
data['Pricing'] = pd.to_numeric(data['Pricing'], errors='coerce')
data['Distance(m)_y'] = pd.to_numeric(data['Distance(m)_y'], errors='coerce')
data['Tip_y'] = pd.to_numeric(data['Tip_y'], errors='coerce')
data['Total_Time_Taken(min)'] = pd.to_numeric(data['Total_Time_Taken(min)'], errors='coerce')
data['Delivery_Charges'] = pd.to_numeric(data['Delivery_Charges'], errors='coerce')
data['Flat_Discount'] = pd.to_numeric(data['Flat_Discount'], errors='coerce')
data['Consumed_Loyalty_Points'] = pd.to_numeric(data['Consumed_Loyalty_Points'], errors='coerce')
data['Redeemed_Loyalty_Points'] = pd.to_numeric(data['Redeemed_Loyalty_Points'], errors='coerce')
data['Distance(m)_x'] = pd.to_numeric(data['Distance(m)_x'], errors='coerce')
data['Outstanding_Amount'] = pd.to_numeric(data['Outstanding_Amount'], errors='coerce')
data['Loyalty_Points'] = pd.to_numeric(data['Loyalty_Points'], errors='coerce')
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce')
data['Unit_Price'] = pd.to_numeric(data['Unit_Price'], errors='coerce')
data['Additional_Charge'] = pd.to_numeric(data['Additional_Charge'], errors='coerce')
data['Cost_Price'] = pd.to_numeric(data['Cost_Price'], errors='coerce')
data['Delivery_Charge'] = pd.to_numeric(data['Delivery_Charge'], errors='coerce')
data['Tip_x'] = pd.to_numeric(data['Tip_x'], errors='coerce')
data['Discount_x'] = pd.to_numeric(data['Discount_x'], errors='coerce')
data['Discount_y'] = pd.to_numeric(data['Discount_y'], errors='coerce')
data['Earning'] = pd.to_numeric(data['Earning'], errors='coerce')
data['Is_Blocked'] = pd.to_numeric(data['Is_Blocked'], errors='coerce')
data["Total_Cost_Price"]=pd.to_numeric(data["Total_Cost_Price"], errors='coerce')
data["Total_Price"]=pd.to_numeric(data["Total_Price"], errors='coerce')
data["Order_Total"]=pd.to_numeric(data["Order_Total"], errors='coerce')
data["Sub_Total_x"]=pd.to_numeric(data["Sub_Total_x"], errors='coerce')
data["Remaining_Balance"]=pd.to_numeric(data["Is_Blocked"], errors='coerce')
data["Sub_Total_y"]=pd.to_numeric(data["Is_Blocked"], errors='coerce')

In [20]:
#FILLING IN THE MISSING VALUES IN THE NUMERIC DATA WITH THE MEAN
data["Pricing"]=data["Pricing"].fillna(data["Pricing"].mean())
data["Distance(m)_y"]=data["Distance(m)_y"].fillna(data["Distance(m)_y"].mean())
data["Tip_y"]=data["Tip_y"].fillna(data["Tip_y"].mean())
data["Total_Time_Taken(min)"]=data["Total_Time_Taken(min)"].fillna(data["Total_Time_Taken(min)"].mean())
data["Discount_y"]=data["Discount_y"].fillna(data["Discount_y"].mean())
data["Delivery_Charges"]=data["Delivery_Charges"].fillna(data["Delivery_Charges"].mean())
data["Earning"]=data["Earning"].fillna(data["Earning"].mean())
data["Flat_Discount"]=data["Flat_Discount"].fillna(data["Flat_Discount"].mean())
data["Consumed_Loyalty_Points"]=data["Consumed_Loyalty_Points"].fillna(data["Consumed_Loyalty_Points"].mean())
data["Redeemed_Loyalty_Points"]=data["Redeemed_Loyalty_Points"].fillna(data["Redeemed_Loyalty_Points"].mean())
data["Distance(m)_x"]=data["Distance(m)_x"].fillna(data["Distance(m)_x"].mean())
data["Outstanding_Amount"]=data["Outstanding_Amount"].fillna(data["Outstanding_Amount"].mean())
data["Loyalty_Points"]=data["Loyalty_Points"].fillna(data["Loyalty_Points"].mean())
data["Quantity"]=data["Quantity"].fillna(data["Quantity"].mean())
data["Unit_Price"]=data["Unit_Price"].fillna(data["Unit_Price"].mean())
data["Additional_Charge"]=data["Additional_Charge"].fillna(data["Additional_Charge"].mean())
data["Cost_Price"]=data["Cost_Price"].fillna(data["Cost_Price"].mean())
data["Delivery_Charge"]=data["Delivery_Charge"].fillna(data["Delivery_Charge"].mean())
data["Tip_x"]=data["Tip_x"].fillna(data["Tip_x"].mean())
data["Discount_x"]=data["Discount_x"].fillna(data["Discount_x"].mean())
data["Is_Blocked"]=data["Is_Blocked"].fillna(data["Is_Blocked"].mean())

In [21]:
data['Pick_up_From'] = data['Pick_up_From'].astype(str)
data['Task_Status'] = data['Task_Status'].astype(str)
data['Payment_Type'] = data['Payment_Type'].astype(str)
data['Task_Category'] = data['Task_Category'].astype(str)
data['Pickup_Address'] = data['Pickup_Address'].astype(str)
data['Payment_Method'] = data['Payment_Method'].astype(str)
data['Last_Used_Platform'] = data['Last_Used_Platform'].astype(str)
data['Is_Blocked'] = data['Is_Blocked'].astype(str)
data['Language'] = data['Language'].astype(str)
data['Order_Status'] = data['Order_Status'].astype(str)
data['Category_Name'] = data['Category_Name'].astype(str)

In [22]:
#FILLING IN THE MISSING VALUES IN THE CATEGORICAL DATA WITH THE MODE
data["Pick_up_From"]=data["Pick_up_From"].fillna(data["Pick_up_From"].mode()[0])
data["Task_Status"]=data["Task_Status"].fillna(data["Task_Status"].mode()[0])
data["Payment_Type"]=data["Payment_Type"].fillna(data["Payment_Type"].mode()[0])
data["Task_Category"]=data["Task_Category"].fillna(data["Task_Category"].mode()[0])
data["Pickup_Address"]=data["Pickup_Address"].fillna(data["Pickup_Address"].mode()[0])
data["Payment_Method"]=data["Payment_Method"].fillna(data["Payment_Method"].mode()[0])
data["Last_Used_Platform"]=data["Last_Used_Platform"].fillna(data["Last_Used_Platform"].mode()[0])
data["Is_Blocked"]=data["Is_Blocked"].fillna(data["Is_Blocked"].mode()[0])
data["Language"]=data["Language"].fillna(data["Language"].mode()[0])
data["Order_Status"]=data["Order_Status"].fillna(data["Order_Status"].mode()[0])
data["Category_Name"]=data["Category_Name"].fillna(data["Category_Name"].mode()[0])

In [23]:
print ('Is_Blocked:', data['Is_Blocked'].unique())
print ('Language:', data['Language'].unique())
print ('Order_Status: ', data['Order_Status'].unique())
print('Category_Name: ', data['Category_Name'].unique())
print('Country: ', data['Country'].unique())
print ('Pickup_Address:', data['Pickup_Address'].unique())
print('Last_Used_Platform:', data['Last_Used_Platform'].unique())

Is_Blocked: ['0.0']
Language: ['en' 'nan']
Order_Status:  ['COMPLETED' 'CANCELLED' 'ORDERED' 'nan' 'DISPATCHED']
Category_Name:  ['Cooking Fat & Oil' 'Flour & Sugar' 'Meat & Fish' 'Salt & Seasoning'
 'Beverages' 'Cleaning & Hygiene' 'Packaging' 'Fruits & Vegetables'
 'Rice & Cereals' 'Spreads' 'nan' 'Noodles & Spaghetti' 'Wine'
 'Vegetables' 'Beer & Bitters']
Country:  ['Kenya' 'Nigeria']
Pickup_Address: ['Kilimani, Nairobi, Kenya' 'nan' '-']
Last_Used_Platform: ['WEB' 'nan']

In [24]:
print('Payment_Type:', data['Payment_Type'].unique())

Payment_Type: ['nan' '-' 'CASH' 'Pay Later' 'KSh 113.00' 'KSh 53.00' 'KSh 706.00'
 'KSh 0.00' 'KSh 83.00' 'KSh 100.00' 'KSh 451.90' 'KSh 372.30'
 'KSh 1478.40' 'mpesa' 'KSh 371.90' 'KSh 374.91' 'KSh 263.46' 'paybill'
 'paid less 80 bob' 'CASHaa' 'KSh 569.85' 'KSh 268.95' 'KSh 346.35'
 'KSh 266.90' 'Paybill' 'CASH 2410 PAYBILL 2700' 'PAYBILL'
 'paid 3000on paybill' 'CASH 2610 paybill 1000' 'CASH 700 Paybill 2700'
 'CASH1500 paybill 1463' 'CASH298 Paybill 2100'
 'paid ksh2000 to paybill,bal to clear in the evening'
 'To pay on paybill later' 'paybill later'
 'Paybill 2000 bal 1900 to be paid tomorrow' 'To pay later on paybill'
 'To pay on paybill' 'To pay later.' 'Not paid' 'To pay later'
 'CASH 3149 Paybill 800' 'paid 4000 on paybill, 16005 in Cash'
 'To pay later in the evening' 'CASH 3629. Paybill 14516'
 'CASH 4000 Bal 1489' 'To pay after 3days' 'To pay in the evening.'
 'CASH 400 mpesa 1400']

##### THE REMAINING NULL ITEMS ARE SUBJECT TO COMPUTATIONS THAT CANNOT BE IMPLEMENTED WITHOUT AN INDEPTH UNDERSTANDING OF THE  OPERATIONS AND CALCULATIONS EMPLOYED BY THE FIRM. 
##### It is important to note that the data is incredibly sparse indicative of insufficient data collection techniques.

In [25]:
#Drop columns that lack a lot of data 
del data['Customer_ID']
del data['Delivery_Charge']
del data['Discount_y']
del data['Tip_x']
del data['Discount_x']
del data['Additional_Charge']
del data['Tax']
del data['Taxable_Amount']
del data['Debt_Amount']

In [26]:
data.isnull().sum()

Last_Used_Platform             0
Is_Blocked                     0
Language                       0
Outstanding_Amount             0
Loyalty_Points                 0
Order_ID                       0
Order_Status                   0
Category_Name                  0
Quantity                       0
Unit_Price                     0
Cost_Price                     0
Total_Cost_Price           53008
Total_Price                53002
Order_Total                53002
Sub_Total_x                53002
Remaining_Balance          53002
Payment_Method                 0
Pickup_Address                 0
Distance(m)_x                  0
Redeemed_Loyalty_Points        0
Consumed_Loyalty_Points        0
Flat_Discount                  0
Distance(m)_y                  0
Total_Time_Taken(min)          0
Pick_up_From                   0
Task_Status                    0
Tip_y                          0
Delivery_Charges               0
Sub_Total_y                53002
Payment_Type                   0
Task_Category                  0
Earning                        0
Pricing                        0
Country                        0
dtype: int64

In [27]:
data["Total_Cost_Price"]=data["Total_Cost_Price"].fillna(data["Total_Cost_Price"].mean())
data["Total_Price"]=data["Total_Price"].fillna(data["Total_Price"].mean())
data["Order_Total"]=data["Order_Total"].fillna(data["Order_Total"].mean())
data["Sub_Total_x"]=data["Sub_Total_x"].fillna(data["Sub_Total_x"].mean())
data["Remaining_Balance"]=data["Remaining_Balance"].fillna(data["Remaining_Balance"].mean())
data["Sub_Total_y"]=data["Sub_Total_y"].fillna(data["Sub_Total_y"].mean())

In [28]:
data.isnull().sum()

Last_Used_Platform         0
Is_Blocked                 0
Language                   0
Outstanding_Amount         0
Loyalty_Points             0
Order_ID                   0
Order_Status               0
Category_Name              0
Quantity                   0
Unit_Price                 0
Cost_Price                 0
Total_Cost_Price           0
Total_Price                0
Order_Total                0
Sub_Total_x                0
Remaining_Balance          0
Payment_Method             0
Pickup_Address             0
Distance(m)_x              0
Redeemed_Loyalty_Points    0
Consumed_Loyalty_Points    0
Flat_Discount              0
Distance(m)_y              0
Total_Time_Taken(min)      0
Pick_up_From               0
Task_Status                0
Tip_y                      0
Delivery_Charges           0
Sub_Total_y                0
Payment_Type               0
Task_Category              0
Earning                    0
Pricing                    0
Country                    0
dtype: int64

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66673 entries, 0 to 66672
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Last_Used_Platform       66673 non-null  object
 1   Is_Blocked               66673 non-null  object
 2   Language                 66673 non-null  object
 3   Outstanding_Amount       66673 non-null  float64
 4   Loyalty_Points           66673 non-null  float64
 5   Order_ID                 66673 non-null  int64
 6   Order_Status             66673 non-null  object
 7   Category_Name            66673 non-null  object
 8   Quantity                 66673 non-null  float64
 9   Unit_Price               66673 non-null  float64
 10  Cost_Price               66673 non-null  float64
 11  Total_Cost_Price         66673 non-null  float64
 12  Total_Price              66673 non-null  float64
 13  Order_Total              66673 non-null  float64
 14  Sub_Total_x              66673 non-null  float64
 15  Remaining_Balance        66673 non-null  float64
 16  Payment_Method           66673 non-null  object
 17  Pickup_Address           66673 non-null  object
 18  Distance(m)_x            66673 non-null  float64
 19  Redeemed_Loyalty_Points  66673 non-null  float64
 20  Consumed_Loyalty_Points  66673 non-null  float64
 21  Flat_Discount            66673 non-null  float64
 22  Distance(m)_y            66673 non-null  float64
 23  Total_Time_Taken(min)    66673 non-null  float64
 24  Pick_up_From             66673 non-null  object
 25  Task_Status              66673 non-null  object
 26  Tip_y                    66673 non-null  float64
 27  Delivery_Charges         66673 non-null  float64
 28  Sub_Total_y              66673 non-null  float64
 29  Payment_Type             66673 non-null  object
 30  Task_Category            66673 non-null  object
 31  Earning                  66673 non-null  float64
 32  Pricing                  66673 non-null  float64
 33  Country                  66673 non-null  object
dtypes: float64(21), int64(1), object(12)
memory usage: 17.3+ MB

### DATA VISUALIZATION

#### ENCODING CATEGORICAL DATA

Opt for the LabelEncoder in this case.

These are:

1. Is_Blocked
2. Language
3. Order_Status
4. Category_Name
5. Country
6. Pickup_Address
7. Last_Used_Platform
8. Payment_Type
9. Payment_Method
10. Pick_Up_From
11. Task_Status
12. Task_Category

In [30]:
from sklearn.preprocessing import LabelEncoder
cols = ['Is_Blocked','Language','Order_Status','Category_Name','Country','Pickup_Address','Last_Used_Platform', 'Payment_Type','Pick_up_From', 'Task_Status', 'Task_Category', 'Payment_Method']
le = LabelEncoder()
for col in cols:
    data[col] = le.fit_transform(data[col])

In [31]:
import pickle
filehandler = open("le.obj", "wb")
pickle.dump(le, filehandler)
filehandler.close()

In [32]:
data.head()

,Last_Used_Platform,Is_Blocked,Language,Outstanding_Amount,Loyalty_Points,Order_ID,Order_Status,Category_Name,Quantity,Unit_Price,...,Pick_up_From,Task_Status,Tip_y,Delivery_Charges,Sub_Total_y,Payment_Type,Task_Category,Earning,Pricing,Country
0,0,0,0,0.0,68.0,11155410,1,3,1.0,4320.0,...,42,47,6.75,1.001140e+08,0.0,42,40,0.0,0.0,0
1,0,0,0,0.0,68.0,11155410,1,4,1.0,1670.0,...,42,47,6.75,1.001140e+08,0.0,42,40,0.0,0.0,0
2,0,0,0,0.0,68.0,11155410,1,4,2.0,263.0,...,42,47,6.75,1.001140e+08,0.0,42,40,0.0,0.0,0
3,0,0,0,0.0,68.0,11138864,1,3,1.0,4320.0,...,42,47,6.75,1.001140e+08,0.0,42,40,0.0,0.0,0
4,0,0,0,0.0,55.0,11253217,1,3,1.0,4400.0,...,42,47,6.75,1.001140e+08,0.0,42,40,0.0,0.0,0

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66673 entries, 0 to 66672
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Last_Used_Platform       66673 non-null  int32
 1   Is_Blocked               66673 non-null  int32
 2   Language                 66673 non-null  int32
 3   Outstanding_Amount       66673 non-null  float64
 4   Loyalty_Points           66673 non-null  float64
 5   Order_ID                 66673 non-null  int64
 6   Order_Status             66673 non-null  int32
 7   Category_Name            66673 non-null  int32
 8   Quantity                 66673 non-null  float64
 9   Unit_Price               66673 non-null  float64
 10  Cost_Price               66673 non-null  float64
 11  Total_Cost_Price         66673 non-null  float64
 12  Total_Price              66673 non-null  float64
 13  Order_Total              66673 non-null  float64
 14  Sub_Total_x              66673 non-null  float64
 15  Remaining_Balance        66673 non-null  float64
 16  Payment_Method           66673 non-null  int32
 17  Pickup_Address           66673 non-null  int32
 18  Distance(m)_x            66673 non-null  float64
 19  Redeemed_Loyalty_Points  66673 non-null  float64
 20  Consumed_Loyalty_Points  66673 non-null  float64
 21  Flat_Discount            66673 non-null  float64
 22  Distance(m)_y            66673 non-null  float64
 23  Total_Time_Taken(min)    66673 non-null  float64
 24  Pick_up_From             66673 non-null  int32
 25  Task_Status              66673 non-null  int32
 26  Tip_y                    66673 non-null  float64
 27  Delivery_Charges         66673 non-null  float64
 28  Sub_Total_y              66673 non-null  float64
 29  Payment_Type             66673 non-null  int32
 30  Task_Category            66673 non-null  int32
 31  Earning                  66673 non-null  float64
 32  Pricing                  66673 non-null  float64
 33  Country                  66673 non-null  int32
dtypes: float64(21), int32(12), int64(1)
memory usage: 14.2 MB

In [34]:
plt.figure(figsize=(16,8))
plt.scatter(data['Last_Used_Platform'],data['Country'],c='black')
plt.xlabel('Last_Used_Platform')
plt.ylabel('Country')
plt.show()

In [35]:
#Plotting the payment method
sns.countplot(data['Payment_Method'])

C:\Users\MUKIRI\Anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [36]:
#Plotting last used platform by country
sns.countplot(data=data, x="Country", hue="Last_Used_Platform")

In [37]:
data.corr()

,Last_Used_Platform,Is_Blocked,Language,Outstanding_Amount,Loyalty_Points,Order_ID,Order_Status,Category_Name,Quantity,Unit_Price,...,Pick_up_From,Task_Status,Tip_y,Delivery_Charges,Sub_Total_y,Payment_Type,Task_Category,Earning,Pricing,Country
Last_Used_Platform,1.000000e+00,NaN,1.000000e+00,NaN,-4.341097e-15,-9.996164e-01,9.927543e-01,9.466372e-01,1.697002e-15,-5.077263e-15,...,-4.753735e-01,-8.615502e-01,5.968625e-13,2.824322e-14,NaN,-9.929382e-01,-9.994098e-01,NaN,NaN,5.414214e-02
Is_Blocked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Language,1.000000e+00,NaN,1.000000e+00,NaN,-4.341097e-15,-9.996164e-01,9.927543e-01,9.466372e-01,1.697002e-15,-5.077263e-15,...,-4.753735e-01,-8.615502e-01,5.968625e-13,2.824322e-14,NaN,-9.929382e-01,-9.994098e-01,NaN,NaN,5.414214e-02
Outstanding_Amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loyalty_Points,-4.341097e-15,NaN,-4.341097e-15,NaN,1.000000e+00,-1.921442e-04,-1.309039e-03,-1.169822e-02,2.755553e-01,4.401706e-01,...,3.800656e-15,-9.485817e-15,2.866647e-13,2.123312e-14,NaN,4.068534e-15,2.401663e-15,NaN,NaN,1.852368e-01
Order_ID,-9.996164e-01,NaN,-9.996164e-01,NaN,-1.921442e-04,1.000000e+00,-9.920586e-01,-9.460349e-01,1.209003e-04,-2.788929e-04,...,4.751829e-01,8.612194e-01,-5.963272e-13,-2.818661e-14,NaN,9.925573e-01,9.990264e-01,NaN,NaN,-5.395167e-02
Order_Status,9.927543e-01,NaN,9.927543e-01,NaN,-1.309039e-03,-9.920586e-01,1.000000e+00,9.387581e-01,-1.138349e-03,9.539449e-04,...,-4.719291e-01,-8.553077e-01,5.928191e-13,2.804659e-14,NaN,-9.857437e-01,-9.921684e-01,NaN,NaN,5.394710e-02
Category_Name,9.466372e-01,NaN,9.466372e-01,NaN,-1.169822e-02,-9.460349e-01,9.387581e-01,1.000000e+00,-1.723613e-02,-3.375783e-02,...,-4.500062e-01,-8.155754e-01,5.709982e-13,2.715310e-14,NaN,-9.399523e-01,-9.460785e-01,NaN,NaN,5.516690e-02
Quantity,1.697002e-15,NaN,1.697002e-15,NaN,2.755553e-01,1.209003e-04,-1.138349e-03,-1.723613e-02,1.000000e+00,8.151272e-02,...,-1.866489e-15,-4.554619e-15,6.505005e-14,4.839675e-15,NaN,-2.290183e-15,-2.067965e-15,NaN,NaN,4.190859e-02
Unit_Price,-5.077263e-15,NaN,-5.077263e-15,NaN,4.401706e-01,-2.788929e-04,9.539449e-04,-3.375783e-02,8.151272e-02,1.000000e+00,...,-3.107742e-17,-2.253330e-14,5.124063e-13,3.796547e-14,NaN,1.949647e-16,1.331655e-15,NaN,NaN,3.305653e-01
Cost_Price,-3.620677e-15,NaN,-3.620677e-15,NaN,4.453978e-01,-2.431880e-04,1.127612e-03,-3.636565e-02,8.471313e-02,9.986450e-01,...,-7.965766e-16,-2.373474e-14,5.124595e-13,3.797250e-14,NaN,-1.980706e-15,1.052092e-15,NaN,NaN,3.306116e-01
Total_Cost_Price,-1.083078e-15,NaN,-1.083078e-15,NaN,5.137489e-01,1.422877e-04,6.167359e-05,-2.236841e-02,5.024633e-01,4.747567e-01,...,-1.997788e-16,-1.082231e-14,2.747535e-13,2.036603e-14,NaN,-6.105401e-16,7.949780e-16,NaN,NaN,1.771884e-01
Total_Price,-1.825737e-15,NaN,-1.825737e-15,NaN,5.140516e-01,1.398464e-04,3.579456e-05,-2.199828e-02,5.024714e-01,4.774213e-01,...,4.437932e-16,-1.099596e-14,2.761442e-13,2.046260e-14,NaN,-2.418026e-16,6.155083e-16,NaN,NaN,1.780900e-01
Order_Total,-3.183075e-15,NaN,-3.183075e-15,NaN,5.228922e-01,1.189537e-03,-2.551256e-03,-2.779524e-04,4.513329e-01,4.982319e-01,...,8.702348e-16,-1.121709e-14,3.311998e-13,2.455091e-14,NaN,4.000828e-16,1.701296e-15,NaN,NaN,2.137182e-01
Sub_Total_x,-8.716420e-16,NaN,-8.716420e-16,NaN,5.225415e-01,1.172834e-03,-2.564089e-03,-1.412984e-04,4.511621e-01,4.985622e-01,...,-2.151094e-15,-1.521617e-14,3.315460e-13,2.456721e-14,NaN,-1.403322e-15,-3.178183e-15,NaN,NaN,2.139479e-01
Remaining_Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payment_Method,9.899403e-01,NaN,9.899403e-01,NaN,-8.517893e-03,-9.891615e-01,9.837912e-01,9.383084e-01,9.489396e-03,-1.228501e-02,...,-4.705914e-01,-8.528832e-01,5.836041e-13,2.742095e-14,NaN,-9.829495e-01,-9.893560e-01,NaN,NaN,4.896929e-02
Pickup_Address,9.549772e-01,NaN,9.549772e-01,NaN,-1.383440e-01,-9.547526e-01,9.479104e-01,9.010938e-01,-3.129939e-02,-2.468824e-01,...,-4.539709e-01,-8.227608e-01,3.870450e-13,1.340800e-14,NaN,-9.482334e-01,-9.544135e-01,NaN,NaN,-6.614873e-02
Distance(m)_x,-4.606740e-16,NaN,-4.606740e-16,NaN,4.663081e-01,4.778050e-04,4.965687e-04,9.852785e-03,1.054991e-01,8.321526e-01,...,-2.410807e-15,-2.747324e-14,6.161237e-13,4.565953e-14,NaN,-1.754331e-15,-1.378097e-16,NaN,NaN,3.972412e-01
Redeemed_Loyalty_Points,-5.014035e-15,NaN,-5.014035e-15,NaN,1.662109e-01,-7.587885e-05,-1.077145e-03,7.819365e-03,2.469459e-01,1.310775e-01,...,2.256009e-15,2.268742e-16,9.112836e-14,6.746895e-15,NaN,4.591416e-15,4.926768e-15,NaN,NaN,5.887071e-02
Consumed_Loyalty_Points,-3.413632e-15,NaN,-3.413632e-15,NaN,3.842881e-01,2.037620e-03,-1.581716e-05,-6.483376e-03,4.798020e-01,2.218381e-01,...,2.461163e-15,-3.312657e-15,1.310455e-13,9.708330e-15,NaN,2.478440e-15,2.911362e-15,NaN,NaN,8.461303e-02
Flat_Discount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Distance(m)_y,-2.147590e-16,NaN,-2.147590e-16,NaN,-1.058873e-16,2.304942e-07,-2.480476e-16,-3.339542e-16,-2.221504e-17,-1.153594e-16,...,-6.509715e-03,4.045954e-04,-5.082950e-15,-8.512325e-16,NaN,-1.697334e-04,1.673631e-16,NaN,NaN,-9.624837e-03
Total_Time_Taken(min),-7.919728e-16,NaN,-7.919728e-16,NaN,-1.426145e-17,4.454011e-07,-8.259387e-16,-9.205802e-16,-6.668878e-18,1.423016e-17,...,-2.195174e-03,-2.195840e-01,-4.138285e-02,3.276836e-03,NaN,6.729468e-03,9.537472e-03,NaN,NaN,-1.859879e-02
Pick_up_From,-4.753735e-01,NaN,-4.753735e-01,NaN,3.800656e-15,4.751829e-01,-4.719291e-01,-4.500062e-01,-1.866489e-15,-3.107742e-17,...,1.000000e+00,3.990861e-01,-2.293635e-03,5.980484e-04,NaN,4.702468e-01,4.750360e-01,NaN,NaN,3.212897e-01
Task_Status,-8.615502e-01,NaN,-8.615502e-01,NaN,-9.485817e-15,8.612194e-01,-8.553077e-01,-8.155754e-01,-4.554619e-15,-2.253330e-14,...,3.990861e-01,1.000000e+00,-3.040716e-02,2.869725e-02,NaN,8.513350e-01,8.545374e-01,NaN,NaN,-3.336961e-02
Tip_y,5.968625e-13,NaN,5.968625e-13,NaN,2.866647e-13,-5.963272e-13,5.928191e-13,5.709982e-13,6.505005e-14,5.124063e-13,...,-2.293635e-03,-3.040716e-02,1.000000e+00,-1.336306e-01,NaN,2.792411e-03,-1.730301e-03,NaN,NaN,1.228270e-12
Delivery_Charges,2.824322e-14,NaN,2.824322e-14,NaN,2.123312e-14,-2.818661e-14,2.804659e-14,2.715310e-14,4.839675e-15,3.796547e-14,...,5.980484e-04,2.869725e-02,-1.336306e-01,1.000000e+00,NaN,-5.686120e-04,9.248846e-04,NaN,NaN,1.048196e-13
Sub_Total_y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payment_Type,-9.929382e-01,NaN,-9.929382e-01,NaN,4.068534e-15,9.925573e-01,-9.857437e-01,-9.399523e-01,-2.290183e-15,1.949647e-16,...,4.702468e-01,8.513350e-01,2.792411e-03,-5.686120e-04,NaN,1.000000e+00,9.930132e-01,NaN,NaN,-5.281233e-02
Task_Category,-9.994098e-01,NaN,-9.994098e-01,NaN,2.401663e-15,9.990264e-01,-9.921684e-01,-9.460785e-01,-2.067965e-15,1.331655e-15,...,4.750360e-01,8.545374e-01,-1.730301e-03,9.248846e-04,NaN,9.930132e-01,1.000000e+00,NaN,NaN,-5.442439e-02
Earning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pricing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,5.414214e-02,NaN,5.414214e-02,NaN,1.852368e-01,-5.395167e-02,5.394710e-02,5.516690e-02,4.190859e-02,3.305653e-01,...,3.212897e-01,-3.336961e-02,1.228270e-12,1.048196e-13,NaN,-5.281233e-02,-5.442439e-02,NaN,NaN,1.000000e+00

#### SPLIT, TEST AND TRAIN

In [38]:
X = data.drop('Pricing', axis = 1)
y = data['Pricing']

In [39]:
from scipy.sparse import coo_matrix
X_sparse = coo_matrix(X)

In [40]:
from sklearn.utils import shuffle
X, X_sparse, y = shuffle(X, X_sparse, y, random_state=0)

In [41]:

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
print(X_train[ :5])

       Last_Used_Platform  Is_Blocked  Language  Outstanding_Amount  \
59838                   1           0         1                 0.0
48345                   1           0         1                 0.0
1527                    0           0         0                 0.0
392                     0           0         0                 0.0
64913                   1           0         1                 0.0

       Loyalty_Points  Order_ID  Order_Status  Category_Name  Quantity  \
59838      787.236486   1126251             4             14  2.660742
48345      787.236486   1126521             4             14  2.660742
1527       564.000000  10972737             1              4  4.000000
392       1350.000000  10860310             1              2  1.000000
64913      787.236486   1126251             4             14  2.660742

       Unit_Price  ...  Total_Time_Taken(min)  Pick_up_From  Task_Status  \
59838  3018.51964  ...               0.000000            40           42
48345  3018.51964  ...              83.380000             0           42
1527   1670.00000  ...              71.925153            42           47
392     145.00000  ...              71.925153            42           47
64913  3018.51964  ...             170.700000            38           42

       Tip_y  Delivery_Charges  Sub_Total_y  Payment_Type  Task_Category  \
59838   6.75      1.001140e+08          0.0             0              0
48345   6.75      1.001140e+08          0.0             0              0
1527    6.75      1.001140e+08          0.0            42             40
392     6.75      1.001140e+08          0.0            42             40
64913   6.75      1.001140e+08          0.0             0              0

       Earning  Country
59838      0.0        1
48345      0.0        0
1527       0.0        0
392        0.0        0
64913      0.0        1

[5 rows x 33 columns]

#### FEATURE SCALING

In [43]:
#Feature scaling to be applied to the training set
X_train = StandardScaler().fit_transform(X_train)

### MODELS

#### Decision Tree

In [44]:
dec = DecisionTreeClassifier()
dec.fit(X_train, y_train)
y_pred = dec.predict(X_test)
print(y_pred)

[0. 0. 0. ... 0. 0. 0.]

In [45]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     13335

    accuracy                           1.00     13335
   macro avg       1.00      1.00      1.00     13335
weighted avg       1.00      1.00      1.00     13335

In [53]:
tree_rmse = np.sqrt(mean_squared_error(y_test, y_pred))
tree_rmse

0.0

In [47]:
a = dec.score(X_train, y_train)
acc_dec = round(a, 2)
print(acc_dec)

1.0

#### Linear Regression

In [48]:
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print(y_pred)

[0. 0. 0. ... 0. 0. 0.]

In [49]:
a = regressor.score(X_train, y_train)
acc_regressor = round(a, 2)
print(acc_regressor)

1.0

#### Catboost Regressor

In [51]:
from catboost import CatBoostRegressor
"""
model = CatBoostRegressor(iterations=100, learning_rate=0.03) 
model.fit( X_train, y_train, eval_set=(X_test, y_test)) 
print(model.score(X, Y))
"""

'\nmodel = CatBoostRegressor(iterations=100, learning_rate=0.03) \nmodel.fit( X_train, y_train, eval_set=(X_test, y_test)) \nprint(model.score(X, Y))\n'

#### Feature Importance

In [54]:
#sorted_feature_importance = model.get_feature_importance().argsort( )[-20:] 
#plt.barh(data.columns[sorted_feature_importance], model.feature_importances_[sorted_feature_importance] )

In [ ]:
#plt.xlabel("Feature Importance") 
#plt.show()

#### REVENUE COMPUTATIONS
Net Revenue = Number of Customers * Average Order Frequency * Average Order
Value * Gross Margin %